*{
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  nav{
    background: #222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
  }
  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
  }
  nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
  }
  nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
  }
  nav ul div.items a:hover{
    color: cyan;
  }
  nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2; 
    border-radius: 5px;
  }
  nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
  }
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  nav ul .search-icon .icon:hover{
    background: #e6e6e6;
  }
  nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
  }
  nav ul li.btn{
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
  }
  nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
  }
  nav ul li.btn span.show:before{
    content: '\f00d';
  }
  @media screen and (max-width: 1052px) {
    nav{
      padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
      display: none;
    }
    nav ul div.items{
      flex: 4;
    }
  }
  @media screen and (max-width: 800px){
    nav ul li.btn{
      display: block;
    }
    nav{
      z-index: 1;
      padding: 9px 40px 9px 0;
    }
    nav ul div.items{
      z-index: -1;
      position: fixed;
      top: -220px;
      right: 0;
      width: 100%;
      background: #222222;
      display: inline-block;
      transition: top .4s;
    }
    nav ul div.items.show{
      top: 60px;
    }
    nav ul div.items li{
      text-align: center;
      line-height: 30px;
      margin: 30px 0;
    }
    nav ul div.items li a{
      font-size: 19px;
    }
  }
  @media screen and (max-width: 405px) {
    nav ul{
      flex-wrap: nowrap;
    }
    nav ul li.search{
      width: 50vmin;
    }
    nav ul li input{
      width: 40vmin;
    }
    nav ul li .search-icon{
      width: 10vmin;
    }
  }
  .container-fluid {
      align-self: center;
      width: 100%;
      height: 50%;
      border-top: 20px;
      padding-left: 400px;
      padding-right: 400px;
  }
  .section_title {
      padding-right: 20px;
      padding-left: 20px;
  }
  .row {
      display: flex;
  }
  .text-capitalize {
      width: 110%;
      height: 40px;
      padding-top: 20px;
      text-align: center;
      color: black;
      text-decoration: underline;
  }
  .card-img {
      width: 200px;
      height: 200px;
      margin: 55px;
      border: 1px solid black;
      margin-right: -90px;
  }
  .collection {
    align-self: center;
    width: 100%;
    height: 530px;
    border-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
    border-bottom: 200px; 
    border: 10px solid black;

  }
  .products {
    text-align: center;
    color: black;  
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    background-color: rgb(224, 224, 217);
  }
  .productcollection {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px #b3a7a7;
    background-color: white;
    border-radius: 2%;
    margin-right: 30px;
  }
  .badge {
    color: white;
    align-self: top;
    width: 6px;
    height: 3px;
    background-color: red;
  }
  .product-ratting {
    color: black;
  }
  a {
    color: rgb(50, 145, 223);
    margin-left: 50px;
    margin-top: -100px;
    text-decoration: none;
  }
  .image {
    width: 80%;
  }
  i {
    color: black;
  }

  .cost {
    color: black;
    margin-left: 120px;
  }
  .box {
    margin-top: 450px;
    margin-right: -300px;
  }
  h3 {
    color: black;
  }
  .content {
    color: black;
  }
  /*Product page*/
.col-md-4p {
  background-color: white;
   width: 240px;
   border-radius: 10px;
   box-shadow: 5px 5px 10px rgb(201, 195, 195);
   margin-left: 30px;
   height: 330px;
}
.Pimg {
  height: 250px;
  margin-right: 50px;
}
.col-md-9 {
  padding-top: 40px;
  margin-left: 30px;
}
.mb-5 {
  color: black;
  padding-top: 40px;
}
.list-group-item {
  color: black;
  border: 1px solid rgb(187, 183, 183);
  box-shadow: 1px 2px 1px 2px rgb(192, 190, 190);
  width: 100px;
  margin-left: 50px;

}
.mr-1 {
  color: black;
}
span {
  color: black;
}
.col-md-3p {
  height: 500px;
  margin-top: 200px;
}
h5 {
  padding-right: 50px;
}
a {
  color: black;
}
.n {
  color: white;
}
.single-product {
  border: 2px solid black;
  padding: 70px;
}
.form-group {
  margin-top: 50px;
}
h1 {
  margin-right: 100px;
}


.w3-content {
  margin-left: 400px;
  margin-top: 100px;
  width: 100%;
  
}



#f li {
  padding-bottom: 10px;
  list-style-type: none;
}


/*features*/
.contain {
  height: 300px; width: 1100px; padding-left: 330px; padding-top: -20px;margin-top: 0px;
  margin-left: 90px;
}
h2 {
  color: black; text-align: center; padding-bottom: 20px;top: 100px;
}
.feature {
  margin-top: 200px;
}

